@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat';
}

body {
    background: #F1F1F1;
}

.container {
    max-width: 1326px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    margin-top: 50px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav::after {
    content: "";
    width: 1320px;
    height: 2px;
    background: #323232;
    position: absolute;
    top: 93px;
    left: 50%;
    border-radius: 0.5px;
    transform: translateX(-50%);
}

.header__nav-list {
    width: 853px;
    display: flex;
    justify-content: space-between;
}

.header__nav-list-item-link {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #323232;
}

.header__nav-list2 {
    display: flex;
    gap: 40px;
}